body {
	background: #ADA996;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer .redes-sociales {
	display: flex;
	justify-content: center;
	padding: 20px;
    flex-wrap: wrap;
}

footer .redes-sociales a {
	display: block;
	width: 60px;
	height: 60px;
	background: #000;
	color: #fff;
	margin: 20px;
	text-align: center;
	border-radius: 100px;
}

footer .redes-sociales .twitter {
	background: #1da1f2;
}

footer .redes-sociales .instagram {
	background: #c13584;
}

footer .redes-sociales .github {
	background: #3b5998;
}

footer .redes-sociales a i {
    font-size: 20px;
    line-height: 60px;
}

.row .col form .formElements{
	font-weight: bold;
}